<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exercisealpah"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.example.exercisealpah.Welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.exercisealpah.Exercise"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_exercise"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.exercisealpah.Calibration"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_calibration"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.exercisealpah.UserTime"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_function"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.exercisealpah.Preforme"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_movment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.exercisealpah.YouTube"
            android:label="@string/title_activity_you_tube" >
        </activity>
        <activity
            android:name="com.example.exercisealpah.Progress"
            android:label="@string/title_activity_progress" >
        </activity>
    </application>

</manifest>